<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>헛코닷컴</title>
</head>
<body>
    <div>
        <div class="logo">
            <p>헛코닷컴 로고</p>
        </div>
        <div class="login" style="float: right;">
            <button>로그인</button>
        </div>
        <script>
            let text = '시그니처 테스트 따 따 따';
            let regex = /([^따]*)(.*)/;
            let match = text.match(regex);
            console.log(match[0]);
            console.log(match[1]);
            console.log(match[2]); 
        </script>
    </div>
</body>