<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test</title>
  </head>
  <body>
    <form action="http://127.0.0.1:3000/donation" method="POST" id="form1">
      이름: <input type="text" name="name" id="name"><br>
      가격: <input type="text" name="price" id="price"><br>
      글: <textarea name="paragraph" id="paragraph" cols="40" rows ="3"></textarea><br>
      <input type="submit" id="submit" value="후원하기">
    </form>
    <input type="button" id="btn1" value="테스트"/>
    <script src="index.js"></script>
  </body>
</html>