<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>헛코로 후원하기</title>
  </head>
  <body>
    <div>
      <p><%= name %>(<%= id %>)님 환영합니다.</p>
    </div>
    <form action="/donation" method="POST" id="form1">
      <label>이름:</label> <input type="text" name="name" id="name"><br>
      <label>가격:</label> <input type="text" name="price" id="price"><br>
      <label>종류:</label> <select name="types" id="types">
        <option value="TEXT">글</option>
        <option value="VIDEO">유튜브</option>
        <option value="CLIP">클립</option>
      </select><br>
      <label>글(링크):</label> <textarea name="paragraph" id="paragraph" cols="40" rows ="3"></textarea><br>
      <input type="submit" id="submit" value="후원하기">
    </form>
    <script src="index.js"></script>
  </body>
</html>