<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./assets/css/donation.css">
        <script src="http://code.responsivevoice.org/responsivevoice.js"></script>  
        
         
    </head>
    <body>
        <div id="textdiv">
            <div>
                <img class="image" src="./assets/img/logo1.png">
            </div>
            <div class="transparent">
                <h2 class="title">
                    <span class="emptext" id="name"></span>님 
                    <span class="emptext" id="price"></span>헛코 후원 감사합니다
                </h2>
                <div class="textdiv" id = "contentdiv">
                    <p class="text" id="donationText"></p>       
                </div>
            </div>
        </div>
        <div id="videodiv">
            <iframe id="videoiframe" width=1280 height=720 frameborder=0></iframe>
        </div>
        <div id="clipdiv">
            <iframe id="clipiframe" width=1280 height=720 frameborder=0></iframe>
        </div>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script src="./view.js"></script>
    </body>
</html>