<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>헛코닷컴</title>
    <link rel="stylesheet" href="./assets/css/about.css">
</head>
<body>
    <nav>
        <ul>
            <li style="float:left;"><a href="/">헛코닷컴</a></li>
            <li><a href="/donate">후원하기</a></li>
            <li><a href="/manage">관리자용</a></li>
        </ul>
    </nav>
</body>