<!DOCTYPE HTML>
<html>
    <head>
        <title>코인 관리</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="/manage/coin" method="POST" id="formManageCoin">
            <input type="text" name="id" id="id" placeholder="ID" required="true">
            <input type="number" name="coin" id="coin" placeholder="줄 코인 개수" required="true">
            <input type="submit" id="submit" value="코인 주기">
        </form>
        <p id="coinlist" style="line-height: 200%"></p>
        <script src="./coins.js"></script>
    </body>
</html>