<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>헛코로 후원하기</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <link rel="stylesheet" href="./assets/css/donation.css">
  </head>
  <body>
    <div style="display: none;">
        <p id="userid"><%= id %></p>
        <p id="usercoin"><%= coin %></p>
    </div>
    <div class="row">
        <p class="col-p"><%= id %>님의 현재 코인: <%= coin %>코인</p>
    </div>
    <form action="" id="formDonate">
        <div class="row">
            <input type="hidden" name="id" id="id">
            <input type="hidden" name="coin" id="coin">
            <div class="col-20l">
                <input type="text" name="name" id="name" placeholder="이름" required="true">
            </div>
            <div class="col-10l">
                <input type="number" name="price" id="price" placeholder="가격" min="10" required="true">
            </div>
            <div class="col-10l">
                <select name="types" id="types">
                    <option value="TEXT">글</option>
                    <option value="VIDEO">유튜브</option>
                    <option value="CLIP">클립</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-40l">
                <textarea name="paragraph" id="paragraph" placeholder="글 또는 링크" maxlength="200"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-40m">
                <input type="submit" id="submit" value="후원하기">
            </div>
        </div>
    </form>
    <script src="./donation.js"></script>
  </body>
</html>