<!DOCTYPE HTML>
<html>
    <head>
        <title>후원 목록</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p id="data" style="display:none;"><%=data%></p>
        <p id="donationlist" style="line-height: 200%"></p>
        <button id="btnPrev">이전</button>
        <button id="btnNext">다음</button>
        <script src="./donationlist.js"></script>
    </body>
</html>