<!DOCTYPE HTML>
<html>
    <head>
        <% include ./common/head %>
        <title>로그인</title>
        <link rel="stylesheet" href="./assets/css/loginPage.css">
    </head>
    <body>
        <div class="container">
            <div class="row vertical-center">
                <div class="jumbotron rectangle">
                    <h4>로그인하기</h4>
                    <button class="btn btn-default" onclick="window.location.href='/auth/twitch'">
                        <i class="fab fa-twitch twitch-icon"></i>
                        트위치로 로그인
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>