<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./assets/css/donation.css">
        <script src="https://code.responsivevoice.org/responsivevoice.js"></script>  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>    
    </head>
    <body>
    <div id="bodydiv">
        <div id="countdiv" style="display:none;">
            <p id="counter"><%= counter %></p>
        </div>
        <div id="textdiv">
            <div>
                <img class="image" src="./assets/img/logo1.png">
            </div>
            <div class="transparent">
                <h2 class="title">
                    <span class="emptext" id="name"></span>님 
                    <span class="emptext" id="price"></span>헛코 후원 감사합니다
                </h2>
                <div class="textdiv" id = "contentdiv">
                    <p class="text" id="donationText"></p>       
                </div>
            </div>
        </div>
        <div id="videodiv">
            <iframe id="videoiframe" width=1280 height=720 frameborder=0></iframe>           
        </div>
        <div id="clipdiv">
            <iframe id="clipiframe" width=1280 height=720 frameborder=0></iframe>
        </div>
        <div id="videotextdiv">
            <p id="videotext" class="dontext"></p>
        </div>
        <script src="./view.js"></script>
    </div>
    </body>
</html>